#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

SOURCEVERSION=4.1
PACKAGENAME=typo3_src-$(SOURCEVERSION)
SOURCEPACKAGE=typo3-src-$(SOURCEVERSION)
T3PACKAGE=typo3

T3SRCDIR=usr/share/typo3/$(PACKAGENAME)
T3EXTDIR=usr/share/typo3/$(PACKAGENAME)/typo3/ext

SOURCEINSTALLDIR=debian/$(SOURCEPACKAGE)/$(T3SRCDIR)

build: patch-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	dh_clean
	rm -f $(SOURCEINSTALLDIR)/t3lib/fonts/nimbus.sfd.gz

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -A $(T3SRCDIR) 
	dh_installdirs -p $(SOURCEPACKAGE) $(T3EXTDIR)
	cp -r index.php misc t3lib typo3 $(SOURCEINSTALLDIR)
	perl -ne 'print(unpack "u", $$_);' debian/nimbus.sfd.gz.uuencoded > $(SOURCEINSTALLDIR)/t3lib/fonts/nimbus.sfd.gz
	rm -f $(SOURCEINSTALLDIR)/typo3/LICENSE.txt
	rm -f $(SOURCEINSTALLDIR)/typo3/sysext/rtehtmlarea/htmlarea/HTMLAREA_LICENSE.txt
	rm -f $(SOURCEINSTALLDIR)/typo3/sysext/adodb/adodb/license.txt
	rm -f $(SOURCEINSTALLDIR)/t3lib/fonts/vera.ttf

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -A ChangeLog
	dh_installdocs -A debian/TODO.Debian RELEASE_NOTES.txt README.txt
	dh_installexamples -p $(SOURCEPACKAGE) misc/advanced.htaccess
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	chown -hR root:www-data $(SOURCEINSTALLDIR)
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
