#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

SOURCEVERSION:=$(shell dpkg-parsechangelog | sed -rne 's,^Source: typo3-(.+),\1,p')

PACKAGENAME:=typo3-$(SOURCEVERSION)
SOURCEPACKAGE:=typo3-src-$(SOURCEVERSION)

T3SRCDIR:=usr/share/typo3/$(PACKAGENAME)

SOURCEINSTALLDIR:=debian/$(SOURCEPACKAGE)/$(T3SRCDIR)

DOCROOTDIR=debian/typo3-dummy-$(SOURCEVERSION)/var/lib/typo3-dummy-$(SOURCEVERSION)
ETCDIR=debian/typo3-dummy-$(SOURCEVERSION)/etc/typo3-dummy-$(SOURCEVERSION)

DEBIAN_VERSION:=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')
UPSTREAM_VERSION:=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p' | sed -rne 's,(\+ds[0-9]),,p')
UPSTREAM_DIR_VERSION:=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p' | sed -rne 's,(\+ds[0-9][~]*),,p')

UPSTREAM_DIR:=blankpackage-$(UPSTREAM_DIR_VERSION)
DEBIAN_DIR:=$(SOURCEPACKAGE)_$(DEBIAN_VERSION)

UPSTREAM_TAR:=$(PACKAGENAME)_$(UPSTREAM_VERSION).orig.tar
DEBIAN_TAR:=$(PACKAGENAME)_$(DEBIAN_VERSION).orig.tar

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	debconf-updatepo

override_dh_install:
	dh_install
#remove additional license files
	rm $(SOURCEINSTALLDIR)/typo3/sysext/rtehtmlarea/htmlarea/HTMLAREA_LICENSE.txt
	rm $(SOURCEINSTALLDIR)/typo3/sysext/rtehtmlarea/htmlarea/plugins/InsertSmiley/smileys/mozilla_public_license.txt
	rm $(SOURCEINSTALLDIR)/typo3/sysext/adodb/adodb/license.txt
	rm $(SOURCEINSTALLDIR)/typo3/sysext/t3editor/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/sysext/openid/lib/php-openid/COPYING
	rm $(SOURCEINSTALLDIR)/typo3/sysext/rsaauth/resources/jsbn/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/contrib/lua/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/contrib/ometa/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/contrib/php/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/contrib/plsql/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/contrib/python/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/contrib/scheme/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/codemirror/contrib/sql/LICENSE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/extjs/LICENSE.txt
	rm $(SOURCEINSTALLDIR)/typo3/contrib/flashmedia/player.license.txt
	rm $(SOURCEINSTALLDIR)/typo3/contrib/idna/LICENCE
	rm $(SOURCEINSTALLDIR)/typo3/contrib/videojs/video-js/LICENSE.txt
	rm $(SOURCEINSTALLDIR)/typo3/contrib/modernizr/LICENSE.txt
	rm $(SOURCEINSTALLDIR)/typo3/sysext/extensionmanager/Resources/Public/Contrib/Farbtastic/LICENSE.txt
	rm $(SOURCEINSTALLDIR)/typo3/contrib/Psr/Log/LICENSE
# remove files linked to by later steps in build (dependencies)
	rm -r $(SOURCEINSTALLDIR)/typo3/sysext/adodb/adodb
	rm -r $(SOURCEINSTALLDIR)/typo3/sysext/install/Resources/Private/Font/*
	rm -r $(SOURCEINSTALLDIR)/typo3/contrib/modernizr/*
	rm -r $(SOURCEINSTALLDIR)/typo3/contrib/pear/HTTP
	rm -r $(SOURCEINSTALLDIR)/typo3/contrib/pear/Net
	rm -r $(SOURCEINSTALLDIR)/typo3/contrib/pear/PEAR
	rm -r $(SOURCEINSTALLDIR)/typo3/contrib/pear/data
	find  $(SOURCEINSTALLDIR)/typo3/contrib/ -type d -empty -delete

override_dh_installchangelogs:
	dh_installchangelogs -Ntypo3-6 -A ChangeLog

override_dh_installdocs:
	dh_installdocs -Ntypo3-6 -A RELEASE_NOTES.txt README.txt NEWS.txt

override_dh_installcron:
	dh_installcron --name=typo3-dummy-6-2

override_dh_fixperms:
	dh_fixperms
	chown -hR www-data:root $(DOCROOTDIR)
	chown     www-data:root $(ETCDIR)/AdditionalFactoryConfiguration.php_template
	chown     www-data:root $(ETCDIR)/AdditionalConfiguration.php
	find $(DOCROOTDIR) -type d -print0 | xargs -0 chmod 0750
	find $(DOCROOTDIR) -type f -print0 | xargs -0 chmod 0640
	chmod 600 $(ETCDIR)/AdditionalFactoryConfiguration.php_template
	chmod 600 $(ETCDIR)/AdditionalConfiguration.php
#set correct permissions for cron script
	chmod a+x $(SOURCEINSTALLDIR)/typo3/cleaner_check.sh \
		  $(SOURCEINSTALLDIR)/typo3/cleaner_fix.sh \
		  $(SOURCEINSTALLDIR)/typo3/cli_dispatch.phpsh

get-orig-source:
# get source
	uscan --no-conf --force-download --rename --repack --download-current-version --destdir=.
# unpack and rename
	mkdir -p _unpack
	tar -xzf $(UPSTREAM_TAR).gz -C _unpack
	mv _unpack/$(UPSTREAM_DIR) _unpack/$(DEBIAN_DIR)
# remove dfsg non complient files
# remove embedded libraries
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/swiftmailer
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/prototype
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/scriptaculous
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/flashmedia/swfobject
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/extjs/resources/charts.swf
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/extjs/resources/expressinstall.swf
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/websvg
	rm -r _unpack/$(DEBIAN_DIR)/typo3/contrib/flowplayer/*
	rm -r _unpack/$(DEBIAN_DIR)/typo3/sysext/extensionmanager/Resources/Public/JavaScript/jquery-ui-1.8.17.custom.min.js
# fix other stuff
	find  _unpack/$(DEBIAN_DIR) -name .gitignore -type f -delete
# repack
	tar -cf - -C _unpack $(DEBIAN_DIR) | gzip -9 - > $(DEBIAN_TAR).gz
	rm -rf _unpack
