#!/bin/sh

set -e
#set -x

. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/frontend.config.mysql ]; then
	. /usr/share/dbconfig-common/dpkg/frontend.config.mysql
	dbc_dbtypes=mysql
	dbc_dbuser=typo3-database
	dbc_dbname=typo3database
	dbc_first_version=4.3.0
	dbc_go typo3-dummy-common $@
fi
