#!/bin/sh

set -e
#set -x

. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/frontend.config.mysql ]; then
	. /usr/share/dbconfig-common/dpkg/frontend.config.mysql
	dbc_dbtypes=mysql
	dbc_dbuser=typo3-database
	dbc_dbname=typo3database
	dbc_first_version=4.3.0
	dbc_go typo3-dummy $@
fi

db_input medium typo3-dummy/apache_mode || true
db_go

db_get typo3-dummy/apache_mode
if [ "$RET" = "vhost" -o "$RET" = "directory" ]; then

    if [ -h /etc/apache2/conf.d/typo3-dummy.conf ]; then
        db_input high typo3-dummy/old_symlink || true
        db_go
    fi

    db_input medium typo3-dummy/apache_restart || true
    db_go

fi

